# Reading in Shodan Data

In [3]:
import shodan
import pandas as pd
from pandas.io.json import json_normalize
import json

In [4]:
filez = str(input("Please enter a the .json file and location:"))
print("Please wait... loading will take about 30 seconds")

Please enter a the .json file and location:mongo.json
Please wait... loading will take about 30 seconds

In [5]:
#creates a list to place the iternation into
shodan_mongo = []
#opens the file from the user input
with open(filez) as mongo:
    for line in mongo:
            #appends each line as a string to the list
            shodan_mongo.append(json.loads(line))

In [6]:
print("THERE ARE", len(shodan_mongo), "MONGODB SERVERS ACTIVE IN THE UNITED STATES!!")
print("AUTOMATED CLEANING IS TAKING PLACE, PLEASE WAIT...")

THERE ARE 24303 MONGODB SERVERS ACTIVE IN THE UNITED STATES!!
AUTOMATED CLEANING IS TAKING PLACE, PLEASE WAIT...

In [16]:
shodan_mongo[1].keys()

dict_keys(['product', 'hash', 'version', 'tags', 'opts', 'ip', 'isp', 'os', '_shodan', 'mongodb', 'hostnames', 'location', 'timestamp', 'domains', 'org', 'data', 'port', 'transport', 'ip_str'])

In [17]:
#mongoList = shodan_mongo[6:24303]
mongoList = shodan_mongo

In [18]:
#there are several keys and values in each dictionary we do not need, they are dropped below
deleted = list(map(lambda d: d.pop('_shodan'), mongoList))
deleted = list(map(lambda d: d.pop('hash'), mongoList))
deleted = list(map(lambda d: d.pop('opts'), mongoList))
deleted = list(map(lambda d: d.pop('data'), mongoList))
print("THE JSON FILE IS BEING FLATTENED!")
print("DID YOU KNOW MONGODB'S DEFAULT PORT IS 27017 !!")

THE JSON FILE IS BEING FLATTENED!
DID YOU KNOW MONGODB'S DEFAULT PORT IS 27017 !!

In [19]:
mongoList[5432].items()

dict_items([('product', 'MongoDB'), ('version', '1.8.2'), ('tags', ['database']), ('ip', 3462618701), ('isp', 'Savvis'), ('os', None), ('port', 27017), ('mongodb', {'authentication': True, 'serverStatus': {'backgroundFlushing': {'last_ms': 0, 'last_finished': '2019-04-16T15:34:09.175000', 'flushes': 1532893, 'average_ms': 0.02522485261528365, 'total_ms': 38667}, 'note': 'run against admin for more info', 'uptime': 91973797.0, 'ok': 1.0, 'network': {'numRequests': 384114, 'bytesIn': 26673406, 'bytesOut': 35240991}, 'opcounters': {'getmore': 0, 'insert': 0, 'update': 2, 'command': 384099, 'query': 16, 'delete': 0}, 'process': 'mongod', 'uptimeEstimate': 91238460.0, 'cursors': {'clientCursors_size': 0, 'timedOut': 0, 'totalOpen': 0}, 'connections': {'current': 1, 'available': 19999}, 'mem': {'resident': 2, 'supported': True, 'bits': 32, 'virtual': 96, 'mapped': 0}, 'host': 'DNA-412', 'version': '1.8.2', 'indexCounters': {'btree': {'missRatio': 0.0, 'resets': 0, 'hits': 0, 'accesses': 0, 'misses': 0}}, 'asserts': {'msg': 0, 'rollovers': 0, 'warning': 6, 'user': 3411, 'regular': 135}, 'writeBacksQueued': False, 'globalLock': {'totalTime': 91973796166846.0, 'ratio': 3.6786129756592643e-09, 'lockTime': 338336.0, 'currentQueue': {'total': 0, 'writers': 0, 'readers': 0}, 'activeClients': {'total': 0, 'writers': 0, 'readers': 0}}, 'localTime': '2019-04-16T15:35:08.099000', 'extra_info': {'note': 'fields vary by platform', 'page_faults': 3848, 'heap_usage_bytes': 203920}}, 'buildInfo': {'ok': 1.0, 'bits': 32, 'version': '1.8.2', 'debug': False, 'maxBsonObjectSize': 16777216, 'sysInfo': 'Linux bs-linux32.10gen.cc 2.6.21.7-2.fc8xen #1 SMP Fri Feb 15 12:39:36 EST 2008 i686 BOOST_LIB_VERSION=1_37', 'gitVersion': '433bbaa14aaba6860da15bd4de8edf600f56501b'}}), ('hostnames', []), ('location', {'city': None, 'region_code': None, 'area_code': None, 'longitude': -97.822, 'country_code3': 'USA', 'country_name': 'United States', 'postal_code': None, 'dma_code': None, 'country_code': 'US', 'latitude': 37.751000000000005}), ('timestamp', '2019-04-16T15:35:09.238250'), ('domains', []), ('org', 'CenturyLink'), ('asn', 'AS209'), ('transport', 'tcp'), ('ip_str', '206.99.94.77')])

In [319]:
#mongoList[3000].keys()
#View one json dict to identify 
#print(json.dumps(mongoList[2569], indent = 2))

{
  "product": "MongoDB",
  "version": "3.4.1",
  "tags": [
    "database"
  ],
  "ip": 2890929031,
  "isp": "eSited Solutions",
  "os": null,
  "port": 27017,
  "mongodb": {
    "authentication": true,
    "buildInfo": {
      "storageEngines": [
        "devnull",
        "ephemeralForTest",
        "mmapv1",
        "wiredTiger"
      ],
      "buildEnvironment": {
        "distarch": "x86_64",
        "cc": "/opt/mongodbtoolchain/v2/bin/gcc: gcc (GCC) 5.4.0",
        "cxxflags": "-Woverloaded-virtual -Wno-maybe-uninitialized -std=c++11",
        "linkflags": "-pthread -Wl,-z,now -rdynamic -Wl,--fatal-warnings -fstack-protector-strong -fuse-ld=gold -Wl,--build-id -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro",
        "ccflags": "-fno-omit-frame-pointer -fno-strict-aliasing -ggdb -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -Werror -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -fno-builtin-memcmp",
        "target_arch": "x86_64",
        "distmod": "rhel62",
        "target_os": "linux",
        "cxx": "/opt/mongodbtoolchain/v2/bin/g++: g++ (GCC) 5.4.0"
      },
      "ok": 1.0,
      "sysInfo": "deprecated",
      "modules": [],
      "openssl": {
        "compiled": "OpenSSL 1.0.1e-fips 11 Feb 2013",
        "running": "OpenSSL 1.0.1e-fips 11 Feb 2013"
      },
      "javascriptEngine": "mozjs",
      "version": "3.4.1",
      "allocator": "tcmalloc",
      "versionArray": [
        3,
        4,
        1,
        0
      ],
      "debug": false,
      "maxBsonObjectSize": 16777216,
      "bits": 64,
      "gitVersion": "5e103c4f5583e2566a45d740225dc250baacfbd7"
    }
  },
  "hostnames": [],
  "location": {
    "city": "Los Angeles",
    "region_code": "CA",
    "area_code": 213,
    "longitude": -118.27799999999999,
    "country_code3": "USA",
    "country_name": "United States",
    "postal_code": "90017",
    "dma_code": 803,
    "country_code": "US",
    "latitude": 34.058400000000006
  },
  "timestamp": "2019-04-18T01:54:36.718334",
  "domains": [],
  "org": "eSited Solutions",
  "asn": "AS22552",
  "transport": "tcp",
  "ip_str": "172.80.19.135"
}

In [4]:
print("CURRENTLY FLATTENING THE JSON FILE FOR PROCESSING!!")
print("THIS WILL TAKE A MIN OR TWO...")
print("...")

CURRENTLY FLATTENING THE JSON FILE FOR PROCESSING!!
THIS WILL TAKE A MIN OR TWO...
...

In [20]:
mongoList[100].keys() , mongoList[3000]['mongodb']

(dict_keys(['product', 'version', 'tags', 'ip', 'isp', 'os', 'port', 'mongodb', 'hostnames', 'location', 'timestamp', 'domains', 'org', 'asn', 'transport', 'ip_str']),
 {'authentication': True,
  'buildInfo': {'ok': 1.0,
   'OpenSSLVersion': '',
   'sysInfo': 'Linux build8.nj1.10gen.cc 2.6.32-431.3.1.el6.x86_64 #1 SMP Fri Jan 3 21:39:27 UTC 2014 x86_64 BOOST_LIB_VERSION=1_49',
   'javascriptEngine': 'V8',
   'version': '2.6.5',
   'gitVersion': 'e99d4fcb4279c0279796f237aa92fe3b64560bf6',
   'versionArray': [2, 6, 5, 0],
   'debug': False,
   'compilerFlags': '-Wnon-virtual-dtor -Woverloaded-virtual -fPIC -fno-strict-aliasing -ggdb -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -pipe -Werror -O3 -Wno-unused-function -Wno-deprecated-declarations -fno-builtin-memcmp',
   'maxBsonObjectSize': 16777216,
   'bits': 64,
   'loaderFlags': '-fPIC -pthread -Wl,-z,now -rdynamic',
   'allocator': 'tcmalloc'}})

In [21]:
#json_normalize is designed to take all the dictionaries from JSON and convert them to a column in a dataframe (flatten)
mongodf = pd.io.json.json_normalize(mongoList)

In [25]:
len(mongodf)

24303

In [26]:
#creates a new dataframe with data that is relevant for this dataframe. 
mongodb_live = mongodf[['product','mongodb.serverStatus.asserts.user','mongodb.serverStatus.host',
                        'mongodb.serverStatus.uptime', 'version','mongodb.authentication', 'tags', 
                        'isp', 'os', 'port', 'hostnames', 'timestamp', 'domains', 'org', 'asn', 
                        'transport', 'ip_str', 'location.city', 'location.country_code', 
                        'location.latitude','location.longitude', 'location.postal_code', 
                        'location.region_code','mongodb.serverStatus.pid']]

In [29]:
mongodb_live.head()

,product,mongodb.serverStatus.asserts.user,mongodb.serverStatus.host,mongodb.serverStatus.uptime,version,mongodb.authentication,tags,isp,os,port,...,asn,transport,ip_str,location.city,location.country_code,location.latitude,location.longitude,location.postal_code,location.region_code,mongodb.serverStatus.pid
0,MongoDB,NaN,NaN,NaN,2.6.12,True,[database],Nexeon Technologies,None,27017,...,AS20278,tcp,172.93.133.120,West Chicago,US,41.8969,-88.2104,60185,IL,NaN
1,MongoDB,NaN,NaN,NaN,4.0.8,True,[database],None,None,27017,...,NaN,tcp,3.212.26.191,None,US,37.7510,-97.8220,None,None,NaN
2,MongoDB,NaN,NaN,NaN,3.0.3,True,"[database, cloud]",Digital Ocean,None,27017,...,AS14061,tcp,104.236.192.131,San Francisco,US,37.7749,-122.4194,94119,CA,NaN
3,MongoDB,99.0,mongodb-1518718340541-s-2vcpu-4gb-nyc3-01,35812616.0,3.4.7,False,"[database, cloud]",Digital Ocean,None,27017,...,AS14061,tcp,159.65.162.53,New York,US,40.7214,-74.0052,10013,NY,1412.0
4,MongoDB,NaN,NaN,NaN,2.6.11,True,[database],"Quality Technology Services, N.J., LLC",None,27017,...,AS53907,tcp,209.10.81.237,None,US,37.7510,-97.8220,None,None,NaN

In [30]:
print("EXTRACTING ALL THE UNSECURED AND OPEN MONGODB SERVERS IN THE UNITED STATES!!")

EXTRACTING ALL THE UNSECURED AND OPEN MONGODB SERVERS IN THE UNITED STATES!!

In [31]:
exposed_mongo = mongodb_live.loc[mongodb_live['mongodb.authentication'] == False]
exposed_mongo.to_csv('EXPOSED_MONGO.csv', sep=',', encoding='utf-8')

#exposed_mongo.head(5)

In [32]:
print("THERE", len(exposed_mongo),"MONGODB SERVERS EXPOSED TO THE WILD IN THE US!!")
print("PLEASE SEE THE .CSV OUTPUT FILED LABELED EXPOSED_MONGO TO SEE THEM!")

THERE 8180 MONGODB SERVERS EXPOSED TO THE WILD IN THE US!!
PLEASE SEE THE .CSV OUTPUT FILED LABELED EXPOSED_MONGO TO SEE THEM!

In [33]:
exposed_syracuse = exposed_mongo.loc[exposed_mongo["location.city"] == "Syracuse"]
exposed_syracuse.to_csv('EXPOSED_SYRACUSE_MONGODB.csv', sep=',', encoding='utf-8')

In [36]:
exposed_syracuse

,product,mongodb.serverStatus.asserts.user,mongodb.serverStatus.host,mongodb.serverStatus.uptime,version,mongodb.authentication,tags,isp,os,port,...,asn,transport,ip_str,location.city,location.country_code,location.latitude,location.longitude,location.postal_code,location.region_code,mongodb.serverStatus.pid
3385,MongoDB,25.0,lcs-vc-chen,31460015.0,3.0.15,False,[database],Syracuse University,None,27017,...,AS11872,tcp,128.230.247.82,Syracuse,US,43.0377,-76.1396,13244,NY,13814.0

In [34]:
print("VALIDATING WILD MONGODB SERVERS IN SYRACUSE, NY!")
print("THE CLEANING PROCESS FOUND", len(exposed_syracuse), "EXPOSED SERVERS, SEE EXPOSED SYRACUSE_MONGODB.csv")

VALIDATING WILD MONGODB SERVERS IN SYRACUSE, NY!
THE CLEANING PROCESS FOUND 1 EXPOSED SERVERS, SEE EXPOSED SYRACUSE_MONGODB.csv

In [35]:
#find the average number of users and uptime for all exposed MONGODB servers
averageUsers = exposed_mongo[["mongodb.serverStatus.asserts.user", "mongodb.serverStatus.uptime"]]
users = averageUsers[["mongodb.serverStatus.asserts.user"]].mean()
uptime = averageUsers[["mongodb.serverStatus.uptime"]].mean()/1440
print("....OF THE",len(exposed_mongo),"WILD SERVERS, THE AVERAGE NUMBER OF USERS IS", users.item()) 
      
print("....THE AVERAGE UPTIME FOR THE EXPOSED SERVERS IS",int(uptime), "DAYS")

....OF THE 8180 WILD SERVERS, THE AVERAGE NUMBER OF USERS IS 24332.80582049401
....THE AVERAGE UPTIME FOR THE EXPOSED SERVERS IS 18203 DAYS

In [37]:
most_exposed = exposed_mongo.loc[(exposed_mongo["mongodb.serverStatus.asserts.user"] > int(users)) & (exposed_mongo["mongodb.serverStatus.uptime"] > int(uptime*1440))]
most_exposed.to_csv('MOST_EXPOSED.csv', sep=',', encoding='utf-8' )
len(most_exposed)

16

In [375]:
print("SEE THE MOST_EXPOSED.csv FILE FOR SERVER LOCATIONS WITH MORE THAN THE AVERAGE USERS AND DAYS!")
print("THANK YOU FOR HUNTING!!")

SEE THE MOST_EXPOSED.csv FILE FOR SERVER LOCATIONS WITH MORE THAN THE AVERAGE USERS AND DAYS!

In [379]:
key = input('Press any key to continue')
quit()

Press any key to continue